<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>OpenWRT PPA</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static' , filename='img/freifunk.png') }}" rel="icon">
<!--    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">-->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static' , filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static' , filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static' , filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static' , filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static' , filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static' , filename='css/style.css') }}" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">


                <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>

                    <li><a class="nav-link scrollto" href="#contact">Get Started</a></li>
                    <li><a class="nav-link scrollto" href="#web-server">Web-Host</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->



        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center text-md-left" data-aos="fade-up">
            <h1>Welcome to <span>Freifunk</span></h1>
            <h2>This is an attempt at creating one own's PPA for OpenWRT SDK</h2>
            <a href="#contact" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= What We Do Section ======= -->
        <section id="what-we-do" class="what-we-do">
            <div class="container">

                <div class="section-title">
                    <h2>How does this help</h2>
                    <p></p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4>Host Packages</h4>
                            <p>Allows you to host your custom packages for the world. You may have multiple builds for the same IP.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4>Parallel builds</h4>
                            <p>Allows for user to have multiple builds for different targets </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4>Pre-Compilation</h4>
                            <p>Provides pre-compiled toolchain designed to cross compile packages for a specific target without compiling the whole system from scratch.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End What We Do Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="static/img/freifunk.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <h3 style="color: #dc0067 ;">About Freifunk</h3>
                        <p>
                            Freifunk (German for: "free radio") is a non-commercial open grassroots initiative to support free computer networks in the German region. Freifunk is part of the international movement for a wireless community network.
                        </p>
                        <ul>
                            <li><i class="bx bx-check-double"></i> Building a large-scale free wireless Wi-Fi network that is Decentralized.</li>
                            <li><i class="bx bx-check-double"></i> Building a backbone network based on microwave transmission over longer distances.</li>
                        </ul>
                        <div class="row icon-boxes">
                            <div class="col-md-6">
                                <i class="bx bx-receipt"></i>
                                <h4>Technologies</h4>
                                <p>Freifunk uses mesh technology to bring up ad hoc networks by interconnecting multiple Wireless LANs.</p>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Goals</h4>
                                <p>Reducing the digital divide along with unhindered distribution of knowledge and resources</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Setup Section ======= -->
        <section id="contact" class="contact section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Build Configurations</h2>
                    <p>Build might take time depending on your processing</p>
                </div>

                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-10">
                        <form action='/test' method="GET"  name="myform" class="form-class" >
                            <div class="form-group mt-3 ">
                                <input type="url" name="repo-url" class="form-control"  placeholder="Your Repo Link" required>
                            </div>
                            <div class="row">
                                <div class="form-group mt-3">
                                    <input type="text" name="deploy-name" class="form-control" placeholder="Deployment Name" required>
                                </div>
                                
                            </div>


                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit" onclick="submitForm()">RUN</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

        <!-- Start of Server Link -->
        <section id="web-server" class="d-flex align-items-center">
            <div class="container justify-content-center d-flex align-items-center">
                <div class="row mt-5 justify-content-center d-flex align-items-center">
                    <div class="section-title">
                        <h1> ...... Final built Packages at .......</h1>
                    </div>

                    <a role="button" class="btn btn-outline-success" href="http://localhost:8085" target="_blank">Server-Link</a>
                </div>


            </div>
        </section>

        <!-- End of Server Link -->
        

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="credits">
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="https://github.com/openwrt/openwrt" target="_blank" class="github"><i class="bx bxl-github"></i></a>

            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static' , filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static' , filename='vendor/purecounter/purecounter.js') }}"></script>
    <script src="{{ url_for('static' , filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='vendor/waypoints/noframework.waypoints.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static' , filename='js/main.js') }}"></script>

</body>

</html>
